/*Стили игры*/

p {
  margin-top: 20px;
  font-size: large;
  font-weight: bolder;
  text-align: center;
}

.field {
  width: 400px;
  height: 400px;
  margin: auto;
  outline: 2px solid black;
  display: flex;
  flex-direction: column;
}

.field .level {
  outline: 1px solid black;
  width: 100%;
  height: 132px;
  display: flex;
  flex-direction: row;
}

.field .level .cell {
  outline: 1px solid black;
  width: 134px;
  height: 132px;
}

.field .level .cell p {
  display: none;
}

.field .level .cell p.show { /* При клике на ячейку отобразится выбранный знак */
  display: block;
  font-size: 6em;
  margin: 0;
}

.field .level .cell p.red {
  color: red;
}

/*Стили для блока выбора кнопки*/

.choosing .buttons_title {
  margin-bottom: 16px;
}

.choosing .button_block {
  text-align: center;
}

/* Стили для подложки */

.substrate {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #e3dada;
  top: 0;
  left: 0;
  opacity: 0;
}

.show_substrate {
  display: block;
}